.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.button {
    width: 172px;
    background-color: rgb(63, 52, 79);
    color: white;
    border: none;
    padding: 14px 24px;
    max-height: 46px;
    border-radius: 8px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
}
